*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*color: rgb(255, 242, 226);*/
    color: #2c1404;
}

body{
    /*background: linear-gradient(0deg,rgba(64, 35, 28, 1) 0%, rgba(217, 128, 20, 0.73) 100%);*/
    background-color: rgb(255, 255, 255);
    /*background-image: url('img/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;*/
    padding: 3em;
    min-height: 100dvh;
} 
main > div{
    max-width: 60vw;
    background: rgba(141, 47, 196, 0.356);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 1em;
    margin: 1em auto;
}

h1{
    text-align: center;
    border-bottom: 2px solid rgba(141, 47, 196, 0.575);
    padding: 1em;

    text-shadow: 2px 2px 2px rgba(68, 63, 61, 0.568);
    font-size: 3em;
}
h2{
    padding: 1em;
    padding-bottom: 0;
}
ul{
    padding: 2em;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #ecaf7e;
}
p{
    text-indent: 50px;
    padding: 1.5em;
    text-align: justify;
}
.return{
    position: absolute;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: rgb(141, 47, 196);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 5px #525252;
}
.return svg{
   height: 25px;
}

.res__practica-evento-p3{
    border:1px solid black;
    padding:1em;
    position:fixed;
    top:20px;
    width:200px;
    height:100px;
}
#capa1{
    left:50px;
}
#capa2{
    left:400px;
}

@media only screen and (max-width: 700px){
    main > div{
        width: auto;
    }
    h1{
        font-size: 2em;
    }
}
